@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
/* @import "flowbite/src/themes/default";
@plugin "flowbite/plugin"; */
@import 'tailwindcss';
@import './dashboard.css';
@import './home-nav.css';
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@plugin "tailwind-scrollbar";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

[x-cloak] {
    display: none !important;
}

:root {
  font-family:"Outfit", 'Instrument Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  outline: none;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body, html {
  line-height: 1.6;
  color: #333;

}


.top-bar {
  background: #eee;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.navbar {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @apply mx-auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  color: #ffa500;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
}

.quote-btn {
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

/* .hero {

} */

.hero-text {
  max-width: 600px;
}

.hero-text h4 {
  color: #f0ad4e;
}

.hero-text h1 {
  font-size: 40px;
  margin: 20px 0;
}

.cta-btn {
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.hero-image img {
  max-width: 600px;
  height: auto;
}

.logo_parent{
  i{
    display: none;
  }
}

.hero{
    height: 80vh;
    background-image: url(../images/hero-bg.jpg);
    background-color: rgba(38, 36, 36, 0.559);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) {




  .quote-btn{
    display: none;
  }

  .navbar {
    display: block;
    gap: 10px;
  }

  .nav-links {
    display: block;
    height: 0;
    overflow-y: hidden;
  }

  .logo_parent{
    display: flex;
    @apply items-center justify-between;

    i{
      cursor: pointer;
    }
  }

}

.preload{
    position: fixed;
    @apply bg-teal-500;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    z-index: 60;
    transition: opacity 0.6s ease;

}

.hide-preload{
    opacity: 1;
    pointer-events: none;
}

.animate-scale{
    animation: scale 1s infinite;
}

.auth-layout{
   background-image : url(../images/auth.jpg);
   background-size: cover;
   background-position: center;
   background-blend-mode: multiply;
   background-repeat: no-repeat;
   background-attachment: fixed;

}

@keyframes scale {
        0% {
            transform: scale(1);

        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
